<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Title{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />



    
    <style type="text/css">
      .error{
        color: red;
        font-style: italic;
      }
    </style>
    {% block stylesheet %}{% endblock %} {% block head %} {% endblock %}
  </head>
  <body>
    <form action="" method="post" id="reg-form">
      <div
        class="main"
        align="center"
        style="border: 1px solid black;
    margin: 25px 40px 75px 15px;
    padding: 25px 50px 50px 50px;
    height: auto;
    width: 98%;
    background-color: grey;"
      >
        {% csrf_token %}
        <div class="row">
          <div class="col-sm-12">
            <h1>DATA</h1>
          </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
              <label>id :</label>
            </div>
            <div class="col-sm-4">
              <input type="text" name="id" class="form-control" id="id" />
            </div>
          </div>
        <div class="row">
          <div class="col-sm-4">
            <label>Roll No:</label>
          </div>
          <div class="col-sm-4">
            <input type="text" name="rno" id="rno" class="form-control" />
          </div>
        </div>


          <div class="row">
            <div class="col-sm-4">
              <label>name :</label>
            </div>
            <div class="col-sm-4">
              <input type="text" name="name" class="form-control" id="name" />
            </div>
          </div>
        <div class="row">
          <div class="col-sm-2">
          </div>
          <div class="col-sm-8">
             <button type="submit" class="btn-success btn" >SUBMIT</button>
    ---      <input type="button" value="POST" onclick="return addData();" class="btn-success btn" />  
    ---      <input type="button" name="update" onclick="return updateData();" value="PATCH" class="btn-success btn" />
    ---      <input type="button" name="update1" onclick="return updateDataPut();" value="PUT" class="btn-success btn" />
    ---      <input type="button" name="delete" onclick="return deleteData();" value="DELETE" class="btn-danger btn" />
    ---      <button type="reset" class="btn-danger btn">RESET</button>
            
        </div>
        <div class="col-sm-2">

          </div>
        </div>
        <br /><br />
      </div>
    </form>




    <div class="container" style="overflow-x:auto;">
      <h2>Added DATA in table</h2>
      <p></p>
      <table class="table table-bordered">
          <thead>
          <tr>
              <th>Sr. NO.</th>

              <th>database table id</th>

              <th>Roll no</th>
              <th>Name</th>

              <th>Edit</th>

              <th>Delete</th>

          </tr>
          </thead>
          <tbody id="id_table_body">


          </tbody>
      </table>
  </div>



    {% block content %} {% endblock %}
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block javascript %} {% endblock %}

    <script>
      $(document).ready(function() {
        refresh();
      });
      function refresh(){
        $.ajax({
          url: '{% url "stud-api" %}',

          data: {},
          dataType: "json",
          success: function(data) {
                var SetDataToTable = "";
                var sr_no = 1;
                var num = 1;
                for (var i = 0; i < data.length; i++) {
                        SetDataToTable += "<tr id='tblrow-" + data[i].id + "'><th>" + sr_no + "</th><th class='brand'>" + data[i].id + "</th><th class='product'>" + data[i].rno + "</th><th class='matrics'>" + data[i].name + "</th><th><button type='button' value='edit' class='fas fa-edit btn btn-primary form-control' data-toggle='modal' data-target='#myModal2' onClick='editUser( " + data[i].id + ")'><i class='fa fa-icon'></i>edit</button></th><th><button type='button' value='delete' class='btn btn-danger form-control' onClick='deleteUser( " + data[i].id + ")'><i class='fas fa-trash-alt'></i>delete</button></th></tr>";
                        sr_no = sr_no + 1;
                }
                document.getElementById('id_table_body').innerHTML = SetDataToTable;
            }
        });
      }
    </script>

    <script>
      function addData() {
        $.ajax({
          url: '{% url "stud-api" %}',
          type: "POST",
          headers: { "X-CSRFToken": "{{ csrf_token }}" },
          data: {
              'rno' : $("#rno").val(),
              'name': $("#name").val()
          },
          dataType: "json",
          success: function(data) {
            console.log(data);
            refresh();
          }
        });
      }

      function updateData() {
        var id =parseInt($("#id").val());
        $.ajax({
          url: '{% url "stud-api" %}'+ id, //add as per your id 
          type: "patch",
          data: {
            'name': $("#name").val()
          },
          success: function(data) {
            console.log(data);
            refresh();
        },
          dataType: "json",
          error: function(data) {
            console.log(data);
          }
        });
      }
    </script>
<script>
    
    function updateDataPut() {
        var id =parseInt($("#id").val());
        $.ajax({
          url: '{% url "stud-api" %}'+ id, //add as per your id 
          type: "put",
          data: {

              'rno': $("#rno").val(),
            'name': $("#name").val()
          },
          success: function(data) {
            console.log(data);
            refresh();
        },
          dataType: "json",
          error: function(data) {
            console.log(data);
          }
        });
      }
      function deleteData() {
        var id =parseInt($("#id").val());
        $.ajax({
          url: '{% url "stud-api" %}'+ id, //add as per your id 
          type: "delete",
          data: {

              'rno': $("#rno").val(),
            'name': $("#name").val()
          },
          success: function(data) {
            console.log(data);
            refresh();
        },
          dataType: "json",
          error: function(data) {
            console.log(data);
          }
        });
      }

</script>

<script>
  function editUser(id) {
        var id =parseInt(id);
        console.log(id);
        $.ajax({
          url: '{% url "stud-api" %}'+ id, //add as per your id 
          type: "GET",
          data: {},
          success: function(data) {
            console.log(data);

                  $("#id").val(data.id);
                  $("#rno").val(data.rno);
                  $("#name").val(data.name);
        },
          dataType: "json",
          error: function(data) {
            console.log(data);
          }
        });
      }
  function deleteUser(id) {
        var id =parseInt(id);
        $.ajax({
          url: '{% url "stud-api" %}'+ id, //add as per your id 
          type: "delete",
          data: {

              'rno': $("#rno").val(),
            'name': $("#name").val()
          },
          success: function(data) {
            console.log(data);
            refresh();
        },
          dataType: "json",
          error: function(data) {
            console.log(data);
          }
        });
      }
</script>




<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.js
"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js
"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/additional-methods.min.js
"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/additional-methods.js
"></script>

<script>
  $(document).ready(function(){
$(function(){
		$.validator.addMethod('name_validate',function(value,element){
			return this.optional(element) || value.length >= 2 && value.length <= 15 && /[a-z]/i.test(value);
		},'enter valid Name'),

		$.validator.addMethod('id_validate',function(value,element){
			return this.optional(element) || value.length <=3  && /[0-9]/.test(value);
    },'enter valid Roll no '),
    
		$.validator.addMethod('rno_validate',function(value,element){
			return this.optional(element) || value.length <=3  && /[0-9]/.test(value);
		},'enter valid Roll no ')
		

		$("#reg-form").validate({
			rules:{
				rno:{
          required:true,
          rno_validate:true
				},
				name:{
          required:true,
          name_validate:true
					
				},
				id:{
					id_validate:true
				}

			},
			messages:{
				rno:{
					required:'plz enter Roll no',
					
        },
        name:{
					required:'plz enter Name',
					
				},
				id:{
					required:'plz enter ',
					
				}
			}

		});

	});
});
</script>
</body>
</html>
